* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    /*
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
    */
}

footer{
    background-color:black;
    height: 20vh;
}

.footer-container p{
    text-align: center;
}



 
